@import url('https://fonts.googleapis.com/css?family=Lato|Lobster');

body {
  display:flex;
  flex-direction:column;
  background:#00a954;
}

section {
  display:flex;
  justify-content:center;
  align-items:center;
}

h2 {
  margin-bottom:0;
  margin-top:0.4em;
}

.hidden {
  display:none;
}

#time { 
  position:fixed;
  top:0;
  right:3%;
  color:#4d4d4d;
  font-style: italic;
}

#header {
  flex-direction:column;
  margin-bottom:-2em;
}

#name {
  color:#DCF1F8;
  font-family: 'Lato', sans-serif;
  margin-top:7vh;
  margin-bottom:10vh;
  position:relative;
}

/*
    SEARCH BAR
*/

#input {
  justify-content: center;
  animation: dissappear 1s reverse;
  width:25em;
  border-radius: 3em;
  font-size:100%;
  padding:0.5em 1em;
  border-color: rgb(153, 184, 219);
  box-shadow: 0 1px 1px rgba(153, 184, 219) inset, 0 0 8px rgba(153, 184, 219, 0.6);
  outline: 0 none;
}

#input:focus {
  border-color: rgba(23, 136, 229, 0.8);
  box-shadow: 0 1px 1px rgba(23, 136, 229, 0.8) inset, 0 0 8px rgba(23, 136, 229, 0.6);
  outline: 0 none;
}

/* 
    BUTTONS
*/

button {
  margin:1em;
  padding:1.5em;
  background-color: #DCF1F8;
  border: 1.5px solid #BEE5F3;
  border-radius:10em;
  text-decoration:none;
  font-family: 'Lato', sans-serif;
  font-size:.9em;
}

button:hover {
  background-color: #BEE5F3;
  cursor:pointer;
}

#location {
  font-size:80%;
  animation: dissappear 1s reverse;
}

/*
    GEOLOCATION ICON
*/

#geolocation-icon { 
  position:absolute;
  margin:1em;
  animation: dissappear 1s reverse;
  color:#dd4545;
}

.svg-inline--fa {
  stroke: black;
  stroke-width: 10px;
}

/* 
    BIKE STATION UI
*/

.individual-station {
  background-color:#DCF1F8;
  padding:0.1em 1em 0.1em 1em;
  margin:1em 0.5em 1em 1em;
  border-radius:.3em;
}

#individual-station-data {
  display:flex;
  flex-direction: column;
  align-items:initial;
  max-width:48%;
  text-align:center;
}

.individual-station p:first-of-type{
  margin-top:0;
  color:#808080;
  font-style: italic;
}

/*
    AVAILABLE BIKES
*/

.if-bike-amount {
  
}

/* 
    DOTS
*/ 

#landing {
  font-family: 'Lobster', cursive; 
}

#dot1 {
  animation:dot1 2s infinite;
}

#dot2 {
  animation:dot2 2s infinite;
}

#dot3 {
  animation:dot3 2s infinite;
}

/* 
    ANIMATION SECTION
*/

@keyframes dissappear {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes dot3 {
  0%,74% {
    opacity:0;
  }
  75%,100% {
    opacity:1;
  }
}

@keyframes dot2 {
  0%,49% {
    opacity:0;
  }
  50%,100% {
    opacity:1;
  }
}

@keyframes dot1 {
  0%,24% {
    opacity:0;
  }
  25%,100% {
    opacity:1;
  }
}

/*
    RESPONSIVE DESIGN SECTION
*/

@media screen and (max-width:585px){
  #individual-station-data{
    max-width:100%;
  }
}